<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>publish List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

    <style>

        .action-links {
            display: inline-block;
            margin-bottom: 10px;
            background-color: #93910f;
            padding: 5px 10px;
            border-radius: 5px;
            color: white;
        }

        .action-links:hover{
            color: #c28d0a;
        }
        body {
            background-image: url('/matbaa.jpg');
            background-size: cover;
        }
    </style>

</head>
<body>

<div align="center">
    <div ><a onclick="gobackhome()">Home</a></div>
    <h1>Publish List</h1>
    <div th:if="${message}" class="alert alert-success" role="alert">
        <span th:text="${message}"></span>
    </div>
    <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
        <p th:text="${errorMessage}"></p>
    </div>
    <table border="1" class="table table-bordered">
        <thead>
        <tr>
            <th>Publish ID</th>
            <th>Book Name</th>
            <th>Author Name</th>
            <th>Date</th>
            <th>Edition</th>
            <th>
                <div class="action-links">
                    <a class="h3" th:href="@{/publish/add}">Add publish</a>
                </div>
            </th>
        </tr>
        </thead>
        <tbody >
        <tr th:each="publish : ${publish}">
            <td th:text="${publish.getId()}"></td>
            <td>
                <span th:if="${publish.book != null}" th:text="${publish.book.getName()}">Book Name</span>
                <span th:unless="${publish.book != null}">Unknown Book</span>

            </td>

            <td>
                <span th:if="${publish.author != null}" th:text="${publish.author.getName()}">Author Name</span>

            </td>
            <td th:text="${publish.date}"></td>
            <td th:text="${publish.edition}"></td>
            <td>
                <div class="action-links"> <a th:href="@{'/publish/update/' + ${publish.id}}">Edit</a></div>
                <div class="action-links"><a th:href="@{'/publishes/delete/' + ${publish.id}}">Delete</a></div>
            </td>
        </tr>

        </tbody>
    </table>
</div>
<script type="text/javascript">
    function gobackhome(){
        window.location='/pindex';
    }

</script>
</body>
</html>
